:root {
	--bg-color: #18181b;
	--border-color: #27272a;
	--secondary-text: #52525b;
}

body {
	background: var(--bg-color);
	color: white;
}
.nav-contents {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem;
	width: auto;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	border: 1px solid var(--border-color);
}

.nav-title {
	font-weight: 600;
	font-size: 1.125rem; 
	line-height: 1.75rem; 
}

a {
	text-decoration: none;
	color: white;
}

.card {
	border: 2px solid var(--border-color);
	border-radius: 0.4rem;
	padding: 1rem;
}

.card-title {
	font-size: 1.125rem; 
	line-height: 1.75rem; 
}


.form-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.form-title {
	padding-left: 0.25rem;
	font-size: 0.875rem; 
	line-height: 1.25rem;
	color: var(--secondary-text);
}

.color-input {
}

.title-input {
	display: flex;
	padding: 0.25rem;
	border: 1px solid var(--border-color);
	background-color: transparent;
	color: white;

	:focus {
		box-shadow: inset 0 0 0 2px var(--border-color);
	}
}

.entry-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.page-container {
	max-width: 48rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	margin-bottom: 1rem;

}

.routine-card-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.entry {
	width: 2rem;
	height: 2rem;
	border-radius: 0.4rem;
	cursor: pointer;
}

/* Login classes  */
.login-container {
	text-align: center;
	background-color: var(--border-color);
	margin-top: 8rem;
	border-radius: 0.4rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container hr {
	background-color: var(--secondary-text);
	width: 100%;
	margin: 1rem 0;
}

.login-container a,h2 {
	margin:  0.1rem 0
}

.login-title {
	margin: 0.1rem;
}

.callout {
	margin: 0.1rem;
	font-size: 0.85rem; 
	color: rgb(161 161 170);
}

.login-button {
	padding: 1rem;
	color: black;
	background-color: white;
	border-radius: 0.4rem;
}
